.carousel {
  position: relative;
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  background: transparent;
  border: 0;
}

.carousel__button--left {
  left: -40px;
  cursor: pointer;
}

.carousel__button--right {
  right: -40px;
  cursor: pointer;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 100%;
  width: 10px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

img {
  border-radius: 10px;
}

.is-hidden {
  display: none;
}
